<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Exam</title>

    <th:block th:include="header :: header"></th:block>

    <!-- Include Bootstrap CSS -->
    <link th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Include jQuery and Bootstrap JS -->
    <script th:src="@{/webjars/jquery/3.6.4/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/5.3.0/js/bootstrap.bundle.min.js}"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        .tables-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 100%;
        }

        .form-table {
            width: 100%;
            max-width: 100%;
            margin-bottom: 20px;
        }

        .form-table th, .form-table td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        .form-table th {
            background-color: #f2f2f2;
        }

        .error-message {
            color: red;
        }
    </style>
</head>
<body>
<div class="container mt-4">
    <h1 class="mb-3">
        <span th:text="'Add Exam for: '+${client.firstName}"></span>
        <span th:if="${client.secondName != null and !client.secondName.isEmpty()}" th:text="' ' + ${client.secondName}"></span>
        <span th:if="${client.thirdName != null and !client.thirdName.isEmpty()}" th:text="' ' + ${client.thirdName}"></span>
        <span th:text="' ' + ${client.lastName}"></span>
    </h1>

    <!-- Error message container -->
    <div id="errorMessages" class="alert alert-danger" style="display: none;"></div>

    <form id="examForm" th:action="@{/exams/add(id=${client.id})}" th:object="${exam}" method="post" onsubmit="return validateForm();">

        <!-- Hidden field for K.Reading -->
        <input type="hidden" name="kReading" th:field="*{kReading}">

        <!-- Modal for K.Reading Input -->
        <div class="modal fade" id="kReadingModal" tabindex="-1" aria-labelledby="kReadingModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="kReadingModalLabel">K.Reading R L</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <label for="kReadingTextarea" class="form-label">Enter K.Reading details:</label>
                        <textarea id="kReadingTextarea" class="form-control" rows="10" cols="10" placeholder="Enter K.Reading details"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" onclick="saveKReading()">Save changes</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Flexbox container for tables -->
        <div class="tables-container">
            <!-- First Table -->
            <table class="table table-bordered form-table">
                <thead class="thead-dark">
                <tr>
                    <th>Eye</th>
                    <th>Sph</th>
                    <th>Cyl</th>
                    <th>Axis</th>
                    <th>Add</th>
                    <th>V/A</th>
                    <th>Frame</th>
                    <th>Lens</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>OD</td>
                    <td><input type="text" id="odSph" th:field="*{odSph}" class="form-control form-control-sm"/></td>
                    <td><input type="text" id="odCyl" th:field="*{odCyl}"class="form-control form-control-sm"/></td>
                    <td><input type="number" id="odAxis" th:field="*{odAxis}"class="form-control form-control-sm" min="0" max="180"/></td>
                    <td><input type="text" id="odAdd" th:field="*{odAdd}" class="form-control form-control-sm"/></td>
                    <td><input type="number" id="odVa" th:field="*{odVa}" class="form-control form-control-sm" min="40" max="70"/></td>
                    <td><input type="text" id="odFrame" th:field="*{odFrame}" class="form-control form-control-sm" /></td>
                    <td><input type="text" id="odLens" th:field="*{odLens}" class="form-control form-control-sm"/></td>
                    <td><input type="text" id="odExtra" th:field="*{odExtra}" class="form-control form-control-sm" /></td>
                </tr>
                <tr>
                    <td>OS</td>
                    <td><input type="text" id="osSph" th:field="*{osSph}"class="form-control form-control-sm"/></td>
                    <td><input type="text" id="osCyl" th:field="*{osCyl}"class="form-control form-control-sm"/></td>
                    <td><input type="number" id="osAxis" th:field="*{osAxis}"class="form-control form-control-sm" min="0" max="180"/></td>
                    <td><input type="text" id="osAdd" th:field="*{osAdd}" class="form-control form-control-sm"/></td>
                    <td><input type="number" id="osVa" th:field="*{osVa}"class="form-control form-control-sm" min="40" max="70"/></td>
                    <td><input type="text" id="osFrame" th:field="*{osFrame}" class="form-control form-control-sm" /></td>
                    <td><input type="text" id="osLens" th:field="*{osLens}" class="form-control form-control-sm"/></td>
                    <td><input type="text" id="osExtra" th:field="*{osExtra}" class="form-control form-control-sm" /></td>
                </tr>
                </tbody>
            </table>

            <!-- K.Reading Button -->
            <table class="table table-bordered form-table" style="text-align: center;">
                <thead class="thead-dark">
                <tr>
                    <th>
                        <button type="button" class="btn btn-outline-primary mt-3" data-bs-toggle="modal" data-bs-target="#kReadingModal">
                            K.Reading R L
                        </button>
                    </th>
                </tr>
                </thead>
            </table>

            <!-- Contact Lens and IPD Table -->
            <table class="table table-bordered form-table">
                <thead class="thead-dark">
                <tr>
                    <th>Contact Lens</th>
                    <th>IPD</th>
                    <th>Note</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><input type="text" id="contactLens" th:field="*{contactLens}" class="form-control form-control-sm"/></td>
                    <td><input type="number" id="ipd" th:field="*{ipd}" class="form-control form-control-sm"/></td>
                    <td><input type="text" id="note" th:field="*{note}" class="form-control form-control-sm"/></td>
                </tr>
                </tbody>
            </table>
        </div>

        <!-- Submit Button -->
        <button type="submit" class="btn btn-primary mt-3">Add Exam</button>
        <a href="/clients/view?id=" th:href="@{/clients/view(id=${client.id})}" class="btn btn-outline-primary mt-3">Back to Client Details</a>
    </form>
</div>

<script>
    function validateForm() {
        let isValid = true;
        let errors = [];

        // Map of IDs to custom names
        const idToNameMap = {
            odSph: "OD Sphere",
            odCyl: "OD Cylinder",
            odAdd: "OD Add",
            osSph: "OS Sphere",
            osCyl: "OS Cylinder",
            osAdd: "OS Add",
            contactLens: "Contact Lens",
            odAxis: "OD Axis",
            osAxis: "OS Axis",
            odVa: "OD V/A",
            osVa: "OS V/A",
            ipd: "IPD"
        };

        // Check Sph/Cyl/Add/CL values must be multiples of 0.25
        const valuesToCheck = ['odSph', 'odCyl', 'odAdd', 'osSph', 'osCyl', 'osAdd'];
        valuesToCheck.forEach(id => {
            const value = parseFloat(document.getElementById(id).value);
            if (!isNaN(value) && value % 0.25 !== 0) {
                errors.push(`<strong>${idToNameMap[id]}</strong> must be a multiple of 0.25 (e.g., 0.25, 0.50, 0.75, etc.)`);
                isValid = false;
            }
        });

        // Axis values must be between 0 and 180
        const axisValues = ['odAxis', 'osAxis'];
        axisValues.forEach(id => {
            const value = parseInt(document.getElementById(id).value);
            if (!isNaN(value) && ( value < 0 || value > 180)) {
                errors.push(`<strong>${idToNameMap[id]}</strong>  must be between 0 and 180`);
                isValid = false;
            }
        });

        // IPD and VA values must be between 40 and 70
        const rangeValues = ['odVa', 'osVa'];
        rangeValues.forEach(id => {
            const value = parseInt(document.getElementById(id).value);
            if (!isNaN(value) && ( value < 40 || value > 70 )) {
                errors.push(`<strong>${idToNameMap[id]}</strong>  must be between 40 and 70`);
                isValid = false;
            }
        });

        const ipd = 'ipd';
        const value = parseInt(document.getElementById(ipd).value);
        if (!isNaN(value) && ( value < 30 || value > 80 )) {
            errors.push(`<strong>IPD</strong>  must be between 30 and 80`);
            isValid = false;
        }

        if (!isValid) {
            const errorMessagesDiv = document.getElementById('errorMessages');
            errorMessagesDiv.innerHTML = errors.join('<br/>');
            errorMessagesDiv.style.display = 'block';
        }

        return isValid;
    }


    function saveKReading() {
        const kReadingDetails = document.getElementById('kReadingTextarea').value;
        document.getElementById('kReading').value = kReadingDetails;

        // Close the modal
        const modal = bootstrap.Modal.getInstance(document.getElementById('kReadingModal'));
        modal.hide();
    }
</script>

</body>
</html>
